<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{#each users}}
    <div style="background: antiquewhite">
        <div><strong>FirstName: </strong>{{this.firstName}}</div>
        <div><strong>LastName: </strong>{{this.lastName}}</div>
        <div><strong>Email: </strong>{{this.email}}</div>
        <div><strong>Password: </strong>{{this.password}}</div>
        <div><strong>Age: </strong>{{this.age}}</div>
        <div><strong>City: </strong>{{this.city}}</div>
    </div>
        <hr>
    {{/each}}
</body>
</html>