<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="color: red">
    <div><strong>FirstName: </strong>{{user.firstName}}</div>
    <div><strong>LastName: </strong>{{user.lastName}}</div>
    <div><strong>Email: </strong>{{user.email}}</div>
    <div><strong>Password: </strong>{{user.password}}</div>
    <div><strong>Age: </strong>{{user.age}}</div>
    <div><strong>City: </strong>{{user.city}}</div>
</div>
</body>
</html>